<main>
    <article>
        {{!-- хлебніе крошки --}}
        <nav class="breadcrumb">
            <ol class="breadcrumb">
                {{#each breadcrumb}}
                <li class="breadcrumb-item"><a href="{{url}}">{{name}}</a>
                </li>
                {{/each}}
                </ul>
        </nav>

        <section>
            {{#with productData}}
            {{!-- блок с картинкой product data --}}
            <div class="row">
                {{!-- первая колонка с карточкой --}}
                <div class="col-6">
                    <div class="card">
                        <img class="card-img-top" src="{{img}}" alt="">
                        {{#with info}}
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{about}}</p>
                            <p class="card-text display-4">{{price}}</p>
                            {{#each category}}
                            {{#if isNew}}<span class="badge text-bg-primary rounded-pill text-capitalize">нове
                                {{/if}}</span>
                            {{#if isHot}}<span
                                class="badge text-bg-warning rounded-pill text-capitalize">hot{{/if}}</span>
                            {{#if isBonus}}<span
                                class="badge text-bg-warning rounded-pill text-capitalize">bonus{{/if}}</span>
                            {{/each}}
                        </div>
                        {{/with}}
                    </div>
                </div>
                {{!-- вторая колонка с табл + меню +алерт--}}
                <div class="col-6">
                    <div class="tables">
                        {{#with item}}
                        <table class="table table-bordered">
                            <thead>
                                {{#each head}}
                                <th>{{this}}</th>
                                {{/each}}
                            </thead>
                            <tbody>
                                {{#each body}}
                                <tr>
                                    <th>{{[0]}}</th>
                                    <td>{{[1]}}</td>
                                    <td>{{[2]}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                            {{/with}}
                        </table>
                    </div>
                    {{!-- параметри --}}
                    {{#with param}}
                    <div class="card text-bg-light">
                        <div class="card-header">
                            <div>{{title}}</div>
                        </div>
                        <ul class="list-group list-group-flush">
                            {{#each list}}
                            <li class="list-group-item">
                                {{this}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    {{/with}}
                    <div class="alert alert-danger my-2">
                        {{#if isError}}{{alert.text}}{{else}}{{alert.text}}{{/if}}
                        {{else}}
                    </div>
                    {{#with param}}

                    {{/with}}
                </div>

        </section>



        </div>



        </div>

        </div>
        {{/with}}

        </section>

        <hr class="my-5">
        <section>
            {{#with goodsBlock}}
            {{#with tabs}}
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">{{[0].text}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{[1].text}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{{[2].text}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">{{[3].text}}</a>
                </li>
            </ul>
            {{/with}}
        </section>
        <section>
            <div class="card-group row-cols-md-3">
                {{#each cards}}
                <section class="card-group">
                    {{> shopcard}}
                </section>
                {{/each}}
            </div>
        </section>
        {{/with}}
        </section>
        <hr class="my-5">

        <section>
            {{#with subscribe}}
            <div class="card text-bg-dark">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <div>
                                <h2><a>{{header}}</a></h2>
                                <div class="mb-2">{{description}}</div>
                            </div>
                        </div>
                        <div class="col-6 text-end my-3 ">
                            {{#each buttons}}
                            <button class="btn btn-primary ms-2">
                                <a href="{{link}}"></a>{{text}}</button>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </div>
            {{/with}}
        </section>
        <hr class="my-5">
        {{> shopacction}}

    </article>
</main>