<main>
    <article>
        {{!-- хлебніе крошки --}}
        {{> breadcrumb}}
        <section>
            {{#with newsData}}
            {{!-- блок с картинкой product data --}}
            <div class="card">
                <img class="card-img-top" src="{{photo}}" alt="">
                {{#with head}}
                <div class="card-body">
                    <h2>{{heading}}</h2>
                    <p>{{description}}</p>
                </div>
                {{/with}}
                {{#each body}}
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{text}}</p>
                </div>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr class="my-5">
        {{!-- блок 4 черных карты--}}
        <section>
            {{#with newsOtherBlock}}
            <h2 class="text-center">{{title}}</h2>
            <div class="card-group row-cols-4">
                {{#each cards}}
                <section class="card-group">
                    {{> shoppost}}
                </section>
                {{/each}}
            </div>
            {{/with}}
        </section>

        <hr class="my-5">
        {{> shopacction}}

    </article>
</main>