<main>
    <article>

        <section>
            {{#with navigation}}
            <section>
                {{#each links}}
                <a href="{{href}}" class="btn btn-link">{{text}}</a>
                {{/each}}
                {{#with button}}
                <a href="{{href}}" class="btn btn-primary">{{text}}</a>
                {{/with}}
            </section>
            {{/with}}
        </section>
        <hr>

        <section>
            {{#with header}}
            <h1>{{title}}</h1>
            <p>{{description}}</p>
            <button href="{{href}}" class="btn btn-primary">{{button.text}}</a>
                {{/with }}
        </section>
        <hr>

        <section>
            {{#with city}}
            <h2>{{title}}</h2>
            <div class="card-group row-cols-md-2 g-2">
                {{#each cards}}
                <section class="card-group">
                    <div class="card">
                        <img class="card-img-top" src="{{picture.src}}" alt="{{alt}}">
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                            <div class="card-text"><a href="{{button.href}}" class="btn btn-primary">{{button.text}}</a>
                            </div>
                        </div>
                </section>
                {{/each}}
            </div>
            {{/with}}
        </section>
        <hr>

        <section>
            {{#with winner}}
            <h2>{{title}}</h2>
            {{#with table}}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        {{#with head}}
                        <th>{{[0]}}</th>
                        <th> {{[1]}}</th>
                        <th> {{[2]}}</th>
                        <th> {{[3]}}</th>
                        {{/with}}
                    </tr>
                </thead>
                <tbody>
                    {{#each user}}
                    <tr>
                        <th>{{place}}</th>
                        <td>{{name}}</td>
                        <td>{{surname}}</td>
                        <td>{{nickname}}</td>
                    </tr>
                    {{/each}}
                </tbody>
                {{/with}}
                {{/with}}
            </table>
        </section>
        <hr>
        <section>
            <div class="row gy-1 gx-1">
                {{#with gallery}}
                <h2>{{title}}</h2>
                {{#each cards}}
                <section class="col-4">
                    {{> cardItem}}
                </section>
                {{/each}}
                {{/with}}
        </section>

        <hr>
        <section>
            {{#with relaxion}}
            <div class="display-3">{{title}}</div>
            <div class="card-group row-cols-2 g-4">
                {{#each cards}}
                <section class="card-group">
                    <div class="card text-bg-secondary">
                        <div class="card card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </section>
                {{/each}}
                {{/with}}
            </div>
        </section>

        <hr>
        <section>
            <div class="card-group row-cols-md-2 g-10">
                {{#with rest}}
                {{#each cards}}
                <section class="card-group">
                    <div class="card text-center">
                        <div class="card-header text-center">{{header}}</div>
                        <div class="card-body">
                            <h6 class="card-title">{{title}}</h6>
                            <p>{{description}}</p>
                            <button class="btn btn-primary">{{button}}</button>
                        </div>
                        <div class="card-footer text-center">{{footer}}</div>
                    </div>
                </section>
                {{/each}}
                {{/with}}
            </div>
        </section>

        <hr>
        <section>
            <div class="row gy-4 gx-4">
                {{#with proposition}}
                <div class="display-3">{{title}}</div>
                {{#each card}}
                <section class="col-5">
                    <div class="card text-bg-warning text-light">
                        <div class="card card-header">{{header}}</div>
                        <div class="card-body">
                            <h5 class="card-title">{{title}}</h5>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </section>
                {{/each}}
                {{/with}}
            </div>
        </section>

        <hr>
        <section>
            {{#with footer}}
            <h5>{{title}}</h5>
            <section class="row gy-4 gx-4">
                <section class="col-4">
                    <div class="card-body">
                        {{#each navigation}}
                        <p><a href="{{href}}" class="btn btn-link">{{text}}</a></p>
                        {{/each}}
                    </div>
                </section>
                </div>

                <section class="col-4">
                    <div class="card-body">
                        {{#each socialMedia}}
                        <p><a href="{{link}}" class="btn btn-outline-dark">{{name}}</a></p>
                        {{/each}}
                    </div>
                </section>

                <section class="col-4">
                    <div class="card-body">
                        {{#each partners}}
                        <p><a href="{{link}}" class="btn btn-outline-info">{{name}}</a></p>
                        {{/each}}
                    </div>
                </section>

            </section>


            {{/with}}

        </section>
    </article>
</main>