<div class="card p-2 mb-3">
    <div class="row">
        <div class="col-2">
            {{!-- picture --}}
            <div class="card">
                <img class="card-img-top" src="{{image}}" alt="{{alt}}">
            </div>
        </div>
        <div class="col-4">
            {{!--name+description --}}
            <div>
                <h5>{{name}}</h5>
                <p>{{description}}</p>
            </div>
        </div>
        <div class="col-2">
            {{!--price: 25 000  --}}
            <div>{{price.title}}</div>
            <div><b>{{price.value}}</b></div>
        </div>
        <div class="col-2">
            {{!--pices --}}
            <div>{{amount}}</div>
        </div>
        <div class="col-2">
            {{!--button --}}
            {{#each buttons}}
            <span class="my-1">
                {{#if isPrimary}}
                <button class="btn text-light text-bg-primary mb-2">{{text}}</button>
                {{/if}}
                {{#if isDanger}}
                <button class="btn btn-outline-danger mb-2">{{text}}</button>
                {{/if}}
            </span>
            {{/each}}
        </div>
    </div>
</div>