<div class="card p-2 ms-5 my-3">
    <div class="row">
        <div class="col-8">
            <div>{{userName}}</div>
        </div>
        <div class="col-4 text-end">
            <div>{{date}}</div>
        </div>
    </div>
    <div class="my-2">{{text}}</div>
</div>
{{!-- комент с шапкой на две колонки и осн текстом --}}


{{!-- <div class="card p-2 ms-5 my-3">
    <div class="row">
        <div class="col-8">
            <div>{{userName}}</div>
        </div>
        <div class="col-4 text-end">
            <div>{{date}}</div>
        </div>
    </div>
    <div class="my-2">{{text}}</div>
</div> --}}