<div class="row">
    <div class="col-4 my-3">
        {{!-- выконано и № замовлення --}}
        <div>{{number}}</div>
        <div class="my-1"><b>{{status}}</b></div>
    </div>
    <div class="col-2 my-3">
        {{!-- ціна --}}
        <div>{{amount.title}}</div>
        <div class="my-1"><b>{{amount.value}}</b></div>
    </div>
    <div class="col-4">
        {{!-- картинки товара --}}
        {{#each images}}
        <img width="75px" height="75px" src="{{this}}" alt="image cap">
        {{/each}}
    </div>
    <div class="col-1 my-3">
        {{!-- кнопка детальніше --}}
        {{#with button}}
        <button class="btn text-light text-bg-primary mb-2">{{text}}<a href="{{link}}"></a></button>
        {{/with}}
    </div>
    <hr class="my-1">
</div>