<section>
    {{#with navigation}}
    <div class="card p-3">
        <div class="row">
            <div class="col-3">
                <h2 class="nav-item">{{Logo}}</h2>
            </div>
            <div class="col-9 text-end">
                {{!-- justify-content-end---для вирівнювання вправо контента --}}
                <div class="nav justify-content-end">
                    {{#each links}}
                    {{#if @last}}
                    <span class="nav-item">
                        <a href="{{href}}" class="nav-link disabled">{{text}}</a>
                    </span>
                    {{else}}
                    <span align="right">
                        <a href="{{href}}" class="nav-link">{{text}}</a> {{/if}}</a>
                    </span>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
    {{/with}}
</section>